@model PLE444.Models.UserGrade

@{
	ViewBag.Title = "Not Düzenle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Not Düzenle</h2>
	</div>
	<div class="panel-body">
		@using (Html.BeginForm()) {
			@Html.AntiForgeryToken()
			@Html.ValidationSummary()

			<div class="form-horizontal">
				@Html.HiddenFor(model => model.UserId)
				@Html.HiddenFor(model => model.GradeTypeId)
				@Html.HiddenFor(model => model.Id)

				<div class="form-group">
					@Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Kaydet" class="btn btn-default" />

						<a href="@Url.Action("DeleteGrade","Course", new { id= Model.Id })" class="btn btn-sm btn-danger pull-right">
							<i class="fa fa-times"></i> Sil
						</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>

@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
}