@using Microsoft.Ajax.Utilities
@using PLE444.Models
@model  PLE444.ViewModels.CourseGrades

@{
	ViewBag.Title = "Notlar";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{
	@Styles.Render("~/Content/plugins/datatables/dataTables.bootstrap.css",
					"~/Content/plugins/datatables/dataTables.themify.css")
}

@{ Html.RenderAction("Navigation", "Course", new { id = Model.CourseInfo.Id }); }


@if (Model.LetterGrades != null && Model.LetterGrades.Any()) {
	<div class="well">
		<table class="table table-condensed m-n">
			<thead>
				<tr>
					@foreach (var letterGrade in Model.LetterGrades.OrderByDescending(l => l.To)) {
						<th class="text-center ml-sm">
							@letterGrade.Name
						</th>
					}
				</tr>
			</thead>
			<tbody>
				<tr>
					@foreach (var letterGrade in Model.LetterGrades.OrderByDescending(l => l.To)) {
						<td class="text-center">
							<span>@letterGrade.From - @letterGrade.To</span>
						</td>
					}
				</tr>
			</tbody>
		</table>
	</div>
}

<div class="panel panel-default" data-widget='{"draggable": "false"}'>

	<table class="table table-hover m-n" id="gradeTbl">
		<thead>
			<tr>
				<th></th>
				@foreach (var gradeType in Model.GradeTypes) {
					if (gradeType.IsActive) {
						<th class="text-center" title="@gradeType.Description
Ağırlık: @gradeType.Effect%
Max Score: @gradeType.MaxScore">
							<span>@gradeType.Name </span>
						</th>
					}
				}
				<th class="text-center">Toplam</th>
				<th class="text-center">Harf Notu</th>
			</tr>
		</thead>
		<tbody>
			@{
				var row = 0;
				var column = 0;
			}
			@foreach (var cu in Model.CourseUsers) {
				if (!cu.IsActive) {
					continue;
				}

				var totalUserScore = 0f;
				var classCurrentUser = @Model.CurrentUserId == cu.UserId ? "success" : "";

			<tr class="@classCurrentUser">
				<td>
					@if (cu.UserId == Model.CurrentUserId) {
						<a href="@Url.Action("Profil", "User", new {id = cu.UserId})">
							<img alt="Kullanıcı Resmi" src="@Url.Content(cu.User.UserPhoto())" class="img-circle" style="height: 30px;" />
							@cu.User.FullName()
						</a>
					}
				</td>

				@{ var gradesOfTheUser = Model.UserGrades.Where(u => u.UserId == cu.UserId).ToList(); }

				@foreach (var gradeType in Model.GradeTypes) {
					if (gradeType.IsActive) {
						var userGrade = gradesOfTheUser.FirstOrDefault(g => g.GradeTypeId == gradeType.Id);

						<td class="text-center">
							@if (userGrade == null) {
								<span> <i class="fa fa-minus"></i></span>
							} else {
								totalUserScore += (userGrade.Grade * gradeType.Effect / gradeType.MaxScore);
								<span> @userGrade.Grade </span>
							}
						</td>
					}
					column++;
				}
				<td class="text-center">@(Math.Round((totalUserScore), 2))</td>
				<td class="text-center">
					@{ var letter = Model.LetterGrades.OrderByDescending(l => l.To).FirstOrDefault(l => l.From <= totalUserScore); }
					@if (letter != null) {
						<b>@letter.Name</b>
					}
				</td>
			</tr>
				row++;
			}
		</tbody>
	</table>
</div>


@section scripts
{
	@Scripts.Render("~/Content/plugins/datatables/jquery.dataTables.js")

	<script>
		$(document)
			.ready(function () {
				$('#gradeTbl')
					.dataTable({
						"paging": false,
						"dom": '<"panel-heading"f><"panel-body"<"table-responsive"t>>'
					});
			});
	</script>
}