<!DOCTYPE html>

<html lang="tr">
<head>
	<meta charset="utf-8">
	<title>PLE - @ViewBag.Title</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<link type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>

	<script type="text/javascript" src="~/Scripts/moment.js"></script>
	<script src="~/Scripts/moment-with-locales.js"></script>
	@Styles.Render("~/Content/fonts/font-awesome/css/font-awesome.min.css") <!-- Font Awesome -->
	@Styles.Render("~/Content/fonts/themify-icons/themify-icons.css") <!-- Themify Icons -->
	@Styles.Render("~/Content/css/styles.css") <!-- Core CSS with all styles -->
	@Styles.Render("~/Content/plugins/codeprettifier/prettify.css") <!-- Code Prettifier -->
	@Styles.Render("~/Content/plugins/iCheck/skins/minimal/blue.css") <!-- iCheck -->
	@Styles.Render("~/Content/css/jquery.filer.css")
	@Styles.Render("~/Content/css/jquery.filer-dragdropbox-theme.css")
	@Styles.Render("~/Content/plugins/summernote/dist/summernote.css")
	@Styles.Render("~/Content/plugins/switchery/switchery.css")
	@Styles.Render("~/Content/plugins/jquery-scrollbar/jquery.scrollbar.css")
	@Styles.Render("~/Content/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css")
	<script src="~/Content/plugins/fullcalendar/lib/jquery-ui.custom.min.js"></script>
	@RenderSection("styles", required: false)
</head>

<body class="animated-content">
	<header id="topnav" class="navbar navbar-default navbar-fixed-top navbar-indigo" role="banner">
		<div class="logo-area">
			<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
				<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
					<span class="icon-bg">
						<i class="ti ti-menu"></i>
					</span>
				</a>
			</span>

			<a title="Ana Sayfa" class="toolbar-icon-bg" href="@Url.Action("Index","Home")"><h3 style="color: white; line-height: 25px;">PLE</h3></a>
		</div>

		<ul class="nav navbar-nav toolbar pull-right">
			<li class="toolbar-icon-bg visible-xs-block" id="trigger-toolbar-search">
				<a href="#"><span class="icon-bg"><i class="ti ti-search"></i></span></a>
			</li>

			<li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
				<a href="#" title="Tam Ekran" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></a>
			</li>
			
			@{ Html.RenderAction("LogedInUser", "Layout"); }
		</ul>
	</header>


	<div id="wrapper">
		<div id="layout-static">
			<div class="static-sidebar-wrapper sidebar-midnightblue">
				<div class="static-sidebar">
					<div class="sidebar scrollbar-outer" id="SidebarDiv" style="height: calc(100vh - 60px)">
						<div class="widget">
						</div>
						<div class="widget" id="widget-sidebar">
							<nav role="navigation" class="widget-body">
								<ul class="acc-menu">
									<li>
										<a href="@Url.Action("List","Course")"><i class="ti ti-book"></i><span>Dersler</span></a>
										<ul class="" style="display: block;">
											@{ Html.RenderAction("Courses", "Layout"); }

										</ul>
									</li>
									<li>
										<a href="@Url.Action("List","Community")"><i class="ti ti-comments"></i><span>Gruplar</span></a>
										<ul class="" style="display: block;">
											@{ Html.RenderAction("Communities", "Layout"); }
										</ul>
									</li>

								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="static-content-wrapper">
				<div class="static-content">
					<div class="page-content">
						<ol class="breadcrumb">
							<li class="active"><a href="#"></a></li>
						</ol>
						<div class="container-fluid">
							<div class="row">
								<div class="col-md-12 col-lg-9 col- full-page" id="BodyDiv">
									<div class="scrollbar-outer">
										@RenderBody()
									</div>
								</div>
							</div>
						</div>
					</div> <!-- #page-content -->
				</div>
				<footer role="contentinfo">
					<div class="clearfix">
						<ul class="list-unstyled list-inline pull-right">
							<li><small><em>Boğaziçi University - CET <span style="margin: 0;">&copy; @DateTime.Now.Year</span></em></small></li>
						</ul>
					</div>
				</footer>
			</div>
		</div>
	</div>

	<!-- Load site level scripts -->
	@Scripts.Render("~/Content/js/jquery-1.10.2.min.js")<!-- Load jQuery -->
	@Scripts.Render("~/Content/js/jqueryui-1.10.3.min.js")	<!-- Load jQueryUI -->
	@Scripts.Render("~/Content/js/bootstrap.min.js")<!-- Load Bootstrap -->
	@Scripts.Render("~/Content/js/enquire.min.js")<!-- Load Enquire -->
	@Scripts.Render("~/Content/plugins/velocityjs/velocity.min.js")	<!-- Load Velocity for Animated Content -->
	@Scripts.Render("~/Content/plugins/velocityjs/velocity.ui.min.js")
	@Scripts.Render("~/Content/plugins/wijets/wijets.js")<!-- Wijet -->
	@Scripts.Render("~/Content/plugins/codeprettifier/prettify.js")<!-- Code Prettifier  -->
	@Scripts.Render("~/Content/plugins/bootstrap-switch/bootstrap-switch.js")<!-- Swith/Toggle Button -->
	@Scripts.Render("~/Content/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js")<!-- Bootstrap Tabdrop -->
	@Scripts.Render("~/Content/plugins/iCheck/icheck.min.js")<!-- iCheck -->
	@Scripts.Render("~/Content/plugins/nanoScroller/js/jquery.nanoscroller.min.js")<!-- nano scroller -->
	@Scripts.Render("~/Content/js/application.js")
	@Scripts.Render("~/Content/demo/demo.js")
	@Scripts.Render("~/Content/demo/demo-switcher.js")
	@Scripts.Render("~/Content/js/jquery.filer.js")
	@Scripts.Render("~/Content/plugins/summernote/dist/summernote.js")
	@Scripts.Render("~/Content/plugins/switchery/switchery.js")
	@Scripts.Render("~/Scripts/bootbox.js")
	@Scripts.Render("~/Content/plugins/jQuery.dotdotdot/jquery.dotdotdot.min.js")
	@Scripts.Render("~/Content/plugins/jquery-scrollbar/jquery.scrollbar.min.js")
	@Scripts.Render("~/Content/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js")
	@Scripts.Render("~/Content/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")

	@Scripts.Render("~/Content/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.tr.js")
	@Scripts.Render("~/Content/plugins/fullcalendar/moment.min.js")


	<script>
		$(document).ready(function () {
			jQuery('.scrollbar-outer').scrollbar({
				"ignoreMobile": true,
				"scrollx": "element"
			});

			$(".ellipsis").dotdotdot({
				ellipsis: '...',
				fallbackToLetter: true,
				after: null,
				watch: true,
				height: 48,
				tolerance: 0,
				callback: function (isTruncated, orgContent) { },
				lastCharacter: {
					remove: [' ', ',', ';', '.', '!', '?'],
					noEllipsis: []
				}
			});

			var date = new Date();
			date.setDate(date.getDate());
			$('.date-time-picker').datetimepicker({

				startDate: date,
				inline: true,
				format: 'yyyy-mm-dd hh:ii',
				autoclose: true,
				sideBySide: true,
				language: 'tr'
			});

			$('.date-picker').datetimepicker({

				startDate: date,
				inline: true,
				format: 'yyyy-mm-dd',
				autoclose: true,
				sideBySide: true,
				language: 'tr'
			});
		});
	</script>
	<!-- End loading site level scripts -->

	<!-- Load page level scripts-->
	@RenderSection("scripts", required: false)
	<!-- End loading page level scripts-->
</body>
</html>