@model PLE444.Models.Assignment
@{
    ViewBag.Title = "Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">@ViewBag.CourseName</span>
        <h2>
            <ul class="nav nav-tabs">
                <li ><a href="@Url.Action("Index","Course")">Bölümler</a></li>
                <li class="active"><a href="@Url.Action("Assignments","Course")"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials","Course")">Materyaller</a></li>
                <li><a href="@Url.Action("Grades","Course")">Notlar</a></li>
                <li><a href="#Communities">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>



    <div class="panel panel-default" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">
          
                <h2>@Html.DisplayFor(modelItem => Model.Title) </h2>
            
            
           
           
            
            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
        </div>
        <div class="panel-body">
            <p>
                @Html.DisplayFor(modelItem => Model.Description)            </p>
            <p>
                <a href="#" class="btn btn-primary" id="dyna">Düzenle</a>
                <a href="#" class="btn btn-primary" id="dyna-del">Sil</a>
                <a href="#" class="btn btn-primary" id="dyna-del">Yükle</a>
              
            </p>

             Teslim Tarihi: @Html.DisplayFor(modelItem => Model.Deadline)
        </div>
    </div>




