@model IEnumerable<PLE444.Models.Assignment>
@{
    ViewBag.Title = "Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var h = new PLE444.Helpers.DataManipulationHelper();
    var uh = new PLE444.Helpers.UserHelper();
    var fh = new PLE444.Helpers.FileHelper();
}



<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">@ViewBag.CourseName</span>
        <h2>
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("Chapters", "Course", new { id = ViewBag.CourseId })">Bölümler</a></li>
                <li class="active"><a href="#"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials", "Course", new { id = ViewBag.CourseId })">Materyaller</a></li>
                <li><a href="@Url.Action("Grades", "Course", new { id = ViewBag.CourseId })">Notlar</a></li>
                <li ><a href="@Url.Action("Discussion", "Course", new { id = ViewBag.CourseId })">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>

@foreach (var item in Model)
{
    <div class="panel panel-default" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">          
            <h2>@Html.DisplayFor(modelItem => item.Title) </h2>              
            <div class="pull-right">
                @Html.DisplayFor(modelItem => item.DateAdded), @h.GetDeltaDate(item.DateAdded)
            </div>
        </div>
        <div class="panel-body">
            <p>
                @Html.DisplayFor(modelItem => item.Description)            
            </p>
            @if (item.Course.CreatorId == ViewBag.CurrentUser)
            {
                <hr />
                <table class="table m-n ">
                    <thead>

                    </thead>
                    <tbody>
                        @foreach (var upload in item.Uploads)
                    {
                            <tr>
                                <td>
                                    <img class="img-circle" src="@uh.GetUserPhotoFromID(upload.Owner)" style="height:30px;" />
                                    <span> @uh.GetUserFullNameFromID(upload.Owner)</span>
                                </td>

                                <td @*style="vertical-align: middle;"*@>
                                    <a href="@Url.Action("Download" , "File" , new { path=upload.FilePath, name=upload.Description })">
                                        <img src="@fh.GetFileIcon(upload.FilePath)" style="height:30px;" />
                                        <span>@upload.Description</span>
                                    </a>
                                </td>

                                <td> @upload.DateUpload, @h.GetDeltaDate(upload.DateUpload)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>

        <div class="panel-footer">
           
                @if (item.Course.CreatorId == ViewBag.CurrentUser)
                {
                    <a href="@Url.Action("AssignmentEdit", "Course", new { id = item.Id })" class="btn btn-primary">Düzenle</a>

                }
                else
                {
                    var uploaded=item.Uploads.FirstOrDefault(u => u.Owner == ViewBag.CurrentUser);
                    if (uploaded == null)
                    {
                        <span class="text-warning pull-right">Yüklenmedi!</span>
                    }
                    else
                    {
                        <span class="text-success pull-right">Yüklendi: @uploaded.DateUpload</span>
                    }


                    using (Html.BeginForm("AssingmentUpload", "Course", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <input class="btn btn-primary pull-right mr-md" type="submit" value="Yükle"/>
                        <input class="pull-right" name="uploadFile" type="file" id="filer_input" />
                        <input type="hidden" name="assignmentId" id="assignmentId" value="@item.Id">
                    }
                }

                <span class="pull-right">Teslim Tarihi: @item.Deadline</span>
        </div>
    </div>
}

@{ 
    var db = new PLE444.Context.PleDbContext();
    if (db.Courses.Find(ViewBag.CourseId).CreatorId == ViewBag.CurrentUser)
    {
        <a href="@Url.Action("AssignmentCreate", "Course", new { id = ViewBag.CourseId })" class="btn btn-primary-alt" id="dyna-del">Yeni Ödev Ekle</a>
    }
}



