@model PLE444.Models.Assignment
@{
    ViewBag.Title = "Assignments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">MATH 101.02 Calculus</span>
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="@Url.Action("Index","Course")">Bölümler</a></li>
                <li><a href="@Url.Action("Assignments","Course")"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials","Course")">Materyaller</a></li>
                <li><a href="@Url.Action("Grades","Course")">Notlar</a></li>
                <li><a href="#Communities">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>
    
    <div class="panel panel-default" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">
            <h2>Matrix Ödevi</h2>
            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
        </div>
        <div class="panel-body">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                <a href="#" class="btn btn-primary" id="dyna">Düzenle</a>
                <a href="#" class="btn btn-primary" id="dyna-del">Sil</a>
              
            </p>
            
        </div>
    </div>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Deadline)
        </td>
        <td>
          
        </td>
    </tr>


