@model IEnumerable<PLE444.Models.Chapter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">@ViewBag.CourseName</span>
        <h2>
            <ul class="nav nav-tabs">
               
           
                <li class="active">Bölümler</li>
                <li ><a href="@Url.Action("Assignments","Course")"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials","Course")">Materyaller</a></li>
                <li><a href="@Url.Action("Grades","Course")">Notlar</a></li>
                <li><a href="#Communities">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>

<p>
    @Html.ActionLink("Yeni Bölüm Ekle", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
