
@{
    ViewBag.Title = "Grades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">@ViewBag.CourseName</span>
        <h2>
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("Chapters","Course",new { id = ViewBag.CourseId })">Bölümler</a></li>
                <li><a href="@Url.Action("Assignments","Course",new { id = ViewBag.CourseId })"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials","Course",new { id = ViewBag.CourseId })">Materyaller</a></li>
                <li class="active"><a href="#">Notlar</a></liclass="active">
                <li><a href="@Url.Action("Discussion","Course",new { id = ViewBag.CourseId })">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>

<div class="panel panel-default" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
   
        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
    </div>
    <div class="panel-body">
        <table class="table table-hover m-n">
            <thead>
                <tr>
                   
                    <th>Başlık</th>
                    <th>Not</th>
                    <th>Yüzdelik Etkisi</th>
                                      <th>Sonuç</th>
                </tr>
            </thead>
            <tbody>
                <tr class="warning">
                    <td>Midterm1</td> 
                    <td>80</td> 
                    <td>20</td> 
                    <td>16</td>

                </tr>
                
            </tbody>
        </table>
    </div>
</div>

