

@model IEnumerable<PLE444.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">MATH 101.02 Calculus</span>
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="@Url.Action("Chapters","Course")">Bölümler</a></li>
                <li><a href="@Url.Action("Assignments","Course")"> Ödevler</a></li>
                <li><a href="@Url.Action("Materials","Course")">Materyaller</a></li>
                <li><a href="@Url.Action("Grades","Course")">Notlar</a></li>
                <li><a href="#Communities">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>

<div class="panel panel-default" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        
            @Html.ActionLink("Yeni Ders Oluştur", "CourseCreate")
       
        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
    </div>
    <div class="panel-body">
        <table class="table table-hover m-n">

            <thead>
                <tr>

                    <th>Dersin İsmi</th>                 
                    <th>Dersi Oluşturan</th>
                    <th>Dersin Açılma Tarihi</th>
                    <th>Dersin Puanı</th>
                    <th>
                </tr>
            </thead>
@foreach (var item in Model)
    {
         

            <tbody>

                <tr class="success">
                  
                    <td> <a href="@Url.Action("Assignments","Course",new { id = item.ID })"> @item.Name</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseStart)</td>
                    <td>16</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })</td>
                </tr>

            </tbody>
            }
        </table>
    </div>
</div>