

@model IEnumerable<PLE444.Models.Course>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}








<div class="panel panel-default" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        
            @Html.ActionLink("Yeni Ders Oluştur", "CourseCreate")
       
        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
    </div>
    <div class="panel-body">
        <table class="table table-hover m-n">

            <thead>
                <tr>

                    <th>Dersin İsmi</th>                 
                    <th>Dersi Oluşturan</th>
                    <th>Dersin Açılma Tarihi</th>
                    <th>Dersin Puanı</th>
                    <th>
                </tr>
            </thead>
@foreach (var item in Model)
    {
         

            <tbody>

                <tr class="success">
                  
                    <td> <a href="@Url.Action("Chapters","Course",new { id = item.ID })"> @item.Name</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.CourseStart)</td>
                    <td>16</td>
                    <td>@Html.ActionLink("Düzenle", "CourseEdit", new { id = item.ID }) |
                    @Html.ActionLink("Detaylar", "CourseDetails", new { id = item.ID }) |
                    @Html.ActionLink("Sil", "CourseDelete", new { id = item.ID })</td>
                </tr>

            </tbody>
            }
        </table>
    </div>
</div>