@using Microsoft.Ajax.Utilities
@using PLE444.Helpers
@model PLE444.ViewModels.CourseViewModel
@{
    ViewBag.Title = @Model.Course.Code;
    Layout = "~/Views/Shared/_Layout.cshtml";
     var h = new DataManipulationHelper(); 
}

@{ Html.RenderAction("Navigation", "Course", new { id = Model.Course.Id }); }

<div class="panel panel-profile">
    <div class="panel-heading">
        <h2 class="text-capitalize">@Model.Course.Heading</h2>
        
        @if (Model.IsCourseCreator)
        {
            <a class="pull-right mr-md" href="@Url.Action("Edit", "Course", new {id = Model.Course.Id})">
                <small><i class="ti ti-pencil-alt"></i> Düzenle</small>
            </a>
        }
        else
        {
            if (Model.IsMember)
            {
                <a class="pull-right text-danger" href="@Url.Action("Leave", "Course", new {id = Model.Course.Id})">
                    <small><i class="ti ti-angle-double-left"></i> Dersten Ayrıl</small>
                </a>
            }
            else if (Model.IsWaiting)
            {
                <span class="text-info pull-right"><i class="ti ti-time"></i> Onay Bekliyor</span>
            }
            else
            {
                <a class="pull-right" href="@Url.Action("Join", "Course", new {id = Model.Course.Id})">
                    <span><i class="ti ti-angle-double-right"></i>  Derse Katıl</span>
                </a>
            }
        }
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2 text-sm-center text-md-right text-lg-right"><p class="lead">Ders Kodu</p> </div>
            <div class="col-sm-10 text-left"><span>@Model.Course.Code</span></div>
        </div>
        <div class="row">
            <div class="col-sm-2 text-sm-center text-md-right text-lg-right"><p class="lead">Ders İsmi</p></div>
            <div class="col-sm-10 text-left"><span>@Model.Course.Name</span></div>
        </div>
        
        <div class="row">
            <div class="col-sm-2 text-sm-center text-md-right text-lg-right"><p class="lead">Açıklama</p></div>
            <div class="col-sm-10 text-justify">@(new HtmlString(Model.Course.Description))</div>
        </div>

        <div class="row">
            <div class="col-sm-2 text-sm-center text-md-right text-lg-right"></div>
            <div class="col-sm-10 text-justify">@Model.MemberCount Katılımcı</div>
        </div>

        @if (!Model.Course.CanEveryoneJoin && Model.IsCourseCreator)
        {
            <div class="row mt-md">
                <div class="col-sm-2 text-sm-center text-md-right text-lg-right">
                    <p class="lead">Katılım Linki</p>
                </div>
                <div class="col-sm-10 text-left">
                    <span class="text-info" >
                        @*Absolute URL for Course Join(id)*@
                        @Url.Action("Join", "Course", routeValues: new {id = Model.Course.Id }, protocol: Request.Url?.Scheme)
                    </span>
                    <br/>
                    <small class="text-right">Üyelerin katılabilmesi için bu linki onlarla paylaşın.</small>
                </div>
            </div>
        }
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline">
                    @foreach (var timelineEntry in Model.Course.Timeline)
                    {
                        <li class="@timelineEntry.ColorClass">
                            <div class="timeline-icon"><i class="@timelineEntry.IconClass"></i>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-header">
                                    <a href="@Url.Action("Profil","User",new { id = timelineEntry.CreatorId })">
                                        <img alt="Kullanıcı Resmi" class="img-circle" style="height: 30px;" src="@Url.Content(timelineEntry.Creator.UserPhoto())"/>
                                        <span class="">@timelineEntry.Creator.FullName()</span>
                                    </a>
                                    <small class="ml-sm">
                                        @h.GetDeltaDate(@timelineEntry.DateCreated)
                                    </small>

                                    <div class="pull-right">
                                        @if(Model.IsCourseCreator)
                                        {
                                            <a href="#" class="js-deleteEntry" data-entry-id="@timelineEntry.Id">
                                                <span class="text-danger">Sil</span>
                                            </a>
                                        }
                                    </div>
                                    
                                </div>
                                <div class="timeline-content">
                                    @if(!timelineEntry.Heading.IsNullOrWhiteSpace())
                                    {
                                        <h4>@timelineEntry.Heading</h4>
                                    }
                                    @if (!timelineEntry.Content.IsNullOrWhiteSpace())
                                    {
                                        <div class="pb-lg"> @(new HtmlString(@timelineEntry.Content))</div>
                                    }
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>



@section scripts
{
<script>
    $(".js-deleteEntry").on("click", function() {
        var object = $(this);
        bootbox.confirm({
            title: "Onay",
            message: "Bu öğeyix içerik akışından çıkarmak istiyor musunuz?",
            buttons: {
                confirm: {
                    label: 'Evet, Çıkar',
                    className: 'btn-danger-alt'
                },
                cancel: {
                    label: 'Hayır',
                    className: 'btn-info-alt'
                }
            },
            callback: function(result) {
                if (result) {
                    $.ajax({
                        //Delete(Guid entryId, Guid courseId)
                        url: "@Url.Action("Delete","Timeline")",
                        method: "POST",
                        data: { 
                            entryId : object.data('entry-id'), 
                            courseId : "@Model.Course.Id"
                        },
                        dataType: 'json',
                        success: function(data, statusText, xhr) {
                        },
                        error: function (data, statusText, xhr) {
                            if(data.status == 200) //OK
                                object.closest("li").slideUp();                          
                        }
                    });
                }
            }
        });
    });            
</script>
}