@model IEnumerable<PLE444.Models.Course>

@{
    ViewBag.Title = "Ders Listesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <h2>Ders Listesi</h2>
       
        <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
    </div>
    <div class="panel-body">
        <table class="table table-hover m-n">
            <thead>
            <tr>
                <th>Kod</th>                 
                <th>İsim</th>
                <th>Açılma Tarihi</th>
                <th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                <tr>
                    <td> <a href="@Url.Action("Index", "Course", new { id = item.Id })"> @item.Code</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                </tr>
                </tbody>
            }
        </table>
    </div>
</div>

<a href="@Url.Action("Create","Course")" class="btn btn-primary-alt center-block">
    <i class="fa fa-plus"></i> Yeni Ders Ekle
</a>