
@{
    ViewBag.Title = "Materials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">@ViewBag.CourseName</span>
        <h2>
            <ul class="nav nav-tabs">
                <li><a href="@Url.Action("Chapters","Course",new { id = ViewBag.CourseId })">Bölümler</a></li>
                <li><a href="@Url.Action("Assignments","Course",new { id = ViewBag.CourseId })"> Ödevler</a></li>
                <li class="active"><a href="#">Materyaller</a></li>
                <li><a href="@Url.Action("Grades","Course",new { id = ViewBag.CourseId })">Notlar</a></li>
                <li><a href="@Url.Action("Discussion","Course",new { id = ViewBag.CourseId })">Tartışmalar</a></li>
            </ul>
        </h2>
    </div>
</div>

<div class="panel panel-info" data-widget='{"draggable": "false"}'>
    
    <div class="panel-body no-padding">
        <table class="table table-striped">
            <thead>
                <tr class="info">
                    <th>Başlık</th>
                    <th>Açıklama</th>
                    <th>Tarih</th>
                </tr>
            </thead>
            <tbody>
                
                
                <tr>
                    <td>Midterm Examples</td>
                    <td>Last Year Questions</td>
                    <td>12.11.2016</td>
                
                </tr>
            </tbody>
        </table>
    </div>
</div>

