@model PLE444.Models.Message

@{
    var h = new PLE444.Helpers.UserHelper();

    if (h.GetUserPhotoFromID(ViewBag.CurrentUserId) == null || h.GetUserPhotoFromID(ViewBag.CurrentUserId) == " ")
    {
        <img class="img-circle" style="width:40px" src="~/Content/img/pp.jpg" />
    }
    else
    {
        <img class="img-circle" style="width:40px" src="@h.GetUserPhotoFromID(ViewBag.CurrentUserId)" />
    }
    <strong style="margin-left:10px;">@h.GetUserFullNameFromID(ViewBag.CurrentUserId)</strong>
    <br>
}

@using (Html.BeginForm("SendMessage", "Course", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group ml-xxl">
            <div class="col-sm-12">
                <textarea class="form-control autosize" style="overflow: hidden; word-wrap: break-word; resize: horizontal;" name="Content"></textarea>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>
        <input type="hidden" name="discussionId" id="discussionId" value="@ViewBag.DiscussionId" />
        <input type="hidden" name="CourseId" id="CourseId" value="@ViewBag.CourseId" />

        <div class="col-sm-12 pull-right">
            <button type="submit" class="btn btn-success pull-right">Gönder</button>
        </div>

    </div>
}

<script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('textarea.autosize').autosize()
    });
</script>
