@model PLE444.Models.Community
@{
    ViewBag.Title = "Discussion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">Databaseciler</span>
        <h2>
            <ul class="nav nav-tabs">
                <li ><a href="@Url.Action("Index")" >Grup</a></li>
                <li><a href="@Url.Action("Events")" >Etkinlik</a></li>
                <li class="active"><a href="@Url.Action("Discussion")" >Tartışma</a></li>
                <li><a href="@Url.Action("Archive")" >Arşiv</a></li>

            </ul>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Action</h2>
         <div class="panel-group panel-default" id="accordionA">                    
                @foreach (var discussion in Model.Discussion)
                {
                    <div class="panel panel-default">
                        <a data-toggle="collapse" data-parent="#accordionA" href="#@discussion.ID"><div class="panel-heading"><h2>@discussion.Topic</h2></div></a>
          
                        <div id="@discussion.ID" class="@("collapse " + (discussion.ID == ViewBag.Active ? "in" : ""))">  
                            <div class="panel-body">
                                @foreach (var message in discussion.Messages)
                                {
                                    <div class="message">
                                        @{var h = new PLE444.Helpers.UserHelper();}
                                        <img class="img-circle" style="width:40px" src="/Uploads/@h.GetUserPhotoFromID(message.SenderId)" />                                        
                                        
                                        <strong style="margin-left:10px;">@h.GetUserFullNameFromID(message.SenderId)</strong>
                                        <div class="pull-right">
                                            <small>@message.DateSent</small>
                                        </div>
                                        <br>
                                        <p style="margin-left:50px;">@message.Content</p>
                                        <hr>
                                    </div>
                                }
                                <div class="message">                                        
                                    @Html.Partial("SendMessage", new PLE444.Models.Message(), new ViewDataDictionary { { "DiscussionId", discussion.ID } ,
                                                                                                                       { "CommunityId", Model.ID } ,
                                                                                                                       { "CurrentUserId", ViewBag.CurrentUserId } })                                                          
                                </div> 
                            </div>
                        </div>
                    </div>
                }            
        </div>   
    </div>
    <div class="col-md-3">
        <a href="@Url.Action("AddTitle", new { id = Model.ID })" class="btn btn-primary-alt btn-lg btn-block"><i class="fa fa-plus fa-bold"></i> Başlık Ekle</a>
    </div>
</div>


