@model PLE444.Models.Community
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <span class="pull-right">@Model.Name</span>
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="@Url.Action("Index", "Community")" >Grup</a></li>
                <li><a href="@Url.Action("Discussion", "Community", new { id= Model.ID })" >Tartışma</a></li>
                <li><a href="@Url.Action("Members", new { id= Model.ID})">Üyeler</a></li>
            </ul>
        </h2>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-profile">
            <div class="panel-heading">
            </div>
            <div class="panel-body">
                @if (ViewBag.CurrentUserId != null && ViewBag.CurrentUserId == Model.AdminId)
                {
                    <a style="float:right" href="@Url.Action("Edit", new { id = Model.ID })"><i class="fa fa-pencil"></i></a>
                }
                <div class="col-sm-3">
                    @if (Model.GroupPhoto == null)
                    {
                        <img src="@Url.Content("~/Content/img/pp.jpg")" class="img-circle">
                    }
                    else
                    {
                        <img src="@Url.Content(Model.GroupPhoto)" class="img-circle">
                    }
                    <p>Grup İsmi</p>
                    <div class="name">@Model.Name </div>
                </div>
                <div class="col-sm-9 text-left">
                    <p class="lead">@Model.Description</p>
                    @if (Model.isOpen)
                    { 
                         <p>Açık Grup</p>
                    }
                    else
                    {
                        <p>Kapalı Grup</p>
                    }    
                    @if(ViewBag.CurrentUserId!=null)
                    {
                        if (!ViewBag.isJoined)
                        {
                            @Html.ActionLink("Katıl", "Join", new { id = Model.ID })
                        }
                        else
                        {
                            @Html.ActionLink("Ayrıl", "Leave", new { id= Model.ID })              
                        }
                    }
                </div>
            </div>
        </div><!-- panel -->
    </div>
</div>



