@*
	@Html.ActionLink("Contact", "Contact", "Home")
	
*@
<!DOCTYPE html>
<html lang="tr">
<head>
	<meta charset="utf-8">
	<title>PLE 444</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-touch-fullscreen" content="yes">
	<meta name="description" content="Description Here">
	<meta name="author" content="Author Name Here">
	<link type='text/css' href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600' rel='stylesheet'>
	@Styles.Render("~/Content/fonts/font-awesome/css/font-awesome.min.css") <!-- Font Awesome -->
	@Styles.Render("~/Content/fonts/themify-icons/themify-icons.css") <!-- Themify Icons -->
	@Styles.Render("~/Content/css/styles.css") <!-- Core CSS with all styles -->
	@Styles.Render("~/Content/plugins/codeprettifier/prettify.css") <!-- Code Prettifier -->
	@Styles.Render("~/Content/plugins/iCheck/skins/minimal/blue.css") <!-- iCheck -->       
		   
	<!--[if lt IE 10]>
		<script type="text/javascript" src="assets/js/media.match.min.js"></script>
		<script type="text/javascript" src="assets/js/respond.min.js"></script>
		<script type="text/javascript" src="assets/js/placeholder.min.js"></script>
	<![endif]-->
	<!-- The following CSS are included as plugins and can be removed if unused-->

</head>
<body class="animated-content">

	<header id="topnav" class="navbar navbar-default navbar-fixed-top" role="banner">
		<div class="logo-area">
			<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
				<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
					<span class="icon-bg">
						<i class="ti ti-menu"></i>
					</span>
				</a>
			</span>

			<a class="navbar-brand" href="#">PLE 444</a>
			<div class="toolbar-icon-bg hidden-xs" id="toolbar-search">
				<div class="input-group">
					<span class="input-group-btn"><button class="btn" type="button"><i class="ti ti-search"></i></button></span>
					<input type="text" class="form-control" placeholder="Grup, Soru veya Ders ara...">
					<span class="input-group-btn"><button class="btn" type="button"><i class="ti ti-close"></i></button></span>
				</div>
			</div>
		</div><!-- logo-area -->
		<ul class="nav navbar-nav toolbar pull-right">
			<li class="toolbar-icon-bg visible-xs-block" id="trigger-toolbar-search">
				<a href="#"><span class="icon-bg"><i class="ti ti-search"></i></span></a>
			</li>

			<li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
				<a href="#" alt="Tam Ekran" class="toggle-fullscreen"><span class="icon-bg"><i class="ti ti-fullscreen"></i></span></i></a>
			</li>
			<li class="dropdown toolbar-icon-bg">
				<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'>
					<span class="icon-bg"><i class="ti ti-email"></i></span><span class="badge badge-deeporange">2</span>
				</a>
				<div class="dropdown-menu notifications arrow">
					<div class="topnav-dropdown-header">
						<span>MESAJLAR</span>
					</div>
					<div class="scroll-pane">
						<ul class="media-list scroll-content">
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Yönetici</strong> <span class="text-gray">‒ Design should be ...</span></h4>
										<span class="notification-time">2 dakika önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Gamze</strong> <span class="text-gray">‒ I will start with the ...</span></h4>
										<span class="notification-time">40 dakika önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Levent</strong> <span class="text-gray">‒ Interior bits are ...</span></h4>
										<span class="notification-time">6 saat önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Oğuz</strong> <span class="text-gray">‒ Are you even ...</span></h4>
										<span class="notification-time">8 gün önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Hüseyin</strong> <span class="text-gray">‒ The message is ...</span></h4>
										<span class="notification-time">16 saat önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Ali</strong> <span class="text-gray">‒ Expected the stuff ...</span></h4>
										<span class="notification-time">2 gün önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-message">
								<a href="#">
									<div class="media-left">
										<img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
									</div>
									<div class="media-body">
										<h4 class="notification-heading"><strong>Diler</strong> <span class="text-gray">‒ The movie of this ...</span></h4>
										<span class="notification-time">4 gün önce</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="topnav-dropdown-footer">
						<a href="#">Tüm Mesajları Göster</a>
					</div>
				</div>
			</li>

			<li class="dropdown toolbar-icon-bg">
				<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
				<div class="dropdown-menu notifications arrow">
					<div class="topnav-dropdown-header">
						<span>Bildirimler</span>
					</div>
					<div class="scroll-pane">
						<ul class="media-list scroll-content">
							<li class="media notification-success">
								<a href="#">
									<div class="media-left">
										<span class="notification-icon"><i class="ti ti-check"></i></span>
									</div>
									<div class="media-body">
										<h4 class="notification-heading">Update 1.0.4 successfully pushed</h4>
										<span class="notification-time">8 dakika önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-info">
								<a href="#">
									<div class="media-left">
										<span class="notification-icon"><i class="ti ti-check"></i></span>
									</div>
									<div class="media-body">
										<h4 class="notification-heading">Update 1.0.3 successfully pushed</h4>
										<span class="notification-time">24 dakika önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-teal">
								<a href="#">
									<div class="media-left">
										<span class="notification-icon"><i class="ti ti-check"></i></span>
									</div>
									<div class="media-body">
										<h4 class="notification-heading">Update 1.0.2 successfully pushed</h4>
										<span class="notification-time">16 saat önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-indigo">
								<a href="#">
									<div class="media-left">
										<span class="notification-icon"><i class="ti ti-check"></i></span>
									</div>
									<div class="media-body">
										<h4 class="notification-heading">Update 1.0.1 successfully pushed</h4>
										<span class="notification-time">2 gün önce</span>
									</div>
								</a>
							</li>
							<li class="media notification-danger">
								<a href="#">
									<div class="media-left">
										<span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
									</div>
									<div class="media-body">
										<h4 class="notification-heading">Initial Release 1.0</h4>
										<span class="notification-time">4 gün önce</span>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="topnav-dropdown-footer">
						<a href="#">Tüm bildirimleri göster</a>
					</div>
				</div>
			</li>
			<li class="dropdown toolbar-icon-bg">
				<a href="#" class="dropdown-toggle username" data-toggle="dropdown">
					<img class="img-circle" src="~/Content/img/pp.jpg" alt="" />
				</a>
				<ul class="dropdown-menu userinfo arrow">
					<li><a href="@Url.Action("Profil","Account")"><i class="ti ti-user"></i><span>Profil</span><span class="badge badge-info pull-right">80%</span></a></li>
					<li><a href="#/"><i class="ti ti-panel"></i><span>Hesap</span></a></li>
					<li><a href="#/"><i class="ti ti-settings"></i><span>Ayarlar</span></a></li>
					<li class="divider"></li>
					<li><a href="#/"><i class="ti ti-shift-right"></i><span>Çıkış</span></a></li>
				</ul>
			</li>
			@Html.Partial("_LoginPartial")
		</ul>
	</header>
	<div id="wrapper">
		<div id="layout-static">
			<div class="static-sidebar-wrapper sidebar-default">
				<div class="static-sidebar">
					<div class="sidebar">
						<div class="widget">
						</div>
						<div class="widget" id="widget-sidebar">
							<nav role="navigation" class="widget-body">
								<ul class="acc-menu">
									<li class="nav-separator"><span>İçerik</span></li>
									<li>
										<a href="@Url.Action("Index","Course")"><i class="ti ti-direction"></i><span>Dersler</span></a>
										<ul class="" style="display: block;">
											<li><a href="@Url.Action("Index","Course")">MATH 101.02</a></li>
											<li><a href="@Url.Action("Index","Course")">CET 444.01</a></li>
										</ul>
									</li><li>
										<a href="#_"><i class="ti ti-direction"></i><span>Alanlar</span></a>
										<ul class="" style="display: block;">
											<li><a href="#">Bilişim</a></li>
											<li><a href="#">Fotoğraf</a></li>
										</ul>
									</li>
									<li>
										<a href="#_"><i class="ti ti-direction"></i><span>Gruplar</span></a>
										<ul class="" style="display: block;">
											<li><a href="#">Databaseciler</a></li>
											<li><a href="#">Math101 Sınav</a></li>
										</ul>
									</li>
									
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="static-content-wrapper">
				<div class="static-content">
					<div class="page-content">
                        <ol class="breadcrumb">
                            <li class="active"><a href="#">Kullanıcı</a></li>
                        </ol>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-9">                                
                                    @RenderBody()
                                </div>
                                <div class="col-md-3">
                                    <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                                        <div class="panel-heading">
                                            <h2>Panel</h2>
                                            <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                                        </div>
                                        <div class="panel-body">
                                            Asperiores porro eveniet debitis quas sed harum nobis libero voluptatibus dolorum odio at veniam aut id corrupti hic amet consectetur adipisicing tenetur ex ea dignissimos volupta elit esse quisquam fugiat.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div> <!-- #page-content -->
				</div>
				<footer role="contentinfo">
					<div class="clearfix">
						<ul class="list-unstyled list-inline pull-left">
							<li><h6 style="margin: 0;">&copy; @DateTime.Now.Year</h6></li>
						</ul>
						<button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
					</div>
				</footer>
			</div>
		</div>
	</div>

	<!-- Switcher -->
	<div class="demo-options">
		<div class="demo-options-icon"><i class="ti ti-paint-bucket"></i></div>
		<div class="demo-heading">Demo Settings</div>
		<div class="demo-body">
			<div class="tabular">
				<div class="tabular-row">
					<div class="tabular-cell">Fixed Header</div>
					<div class="tabular-cell demo-switches"><input class="bootstrap-switch" type="checkbox" checked data-size="mini" data-on-color="success" data-off-color="default" name="demo-fixedheader" data-on-text="&nbsp;" data-off-text="&nbsp;"></div>
				</div>
				<div class="tabular-row">
					<div class="tabular-cell">Boxed Layout</div>
					<div class="tabular-cell demo-switches"><input class="bootstrap-switch" type="checkbox" data-size="mini" data-on-color="success" data-off-color="default" name="demo-boxedlayout" data-on-text="&nbsp;" data-off-text="&nbsp;"></div>
				</div>
				<div class="tabular-row">
					<div class="tabular-cell">Collapse Leftbar</div>
					<div class="tabular-cell demo-switches"><input class="bootstrap-switch" type="checkbox" data-size="mini" data-on-color="success" data-off-color="default" name="demo-collapseleftbar" data-on-text="&nbsp;" data-off-text="&nbsp;"></div>
				</div>
			</div>
		</div>
		<div class="demo-body">
			<div class="option-title">Topnav</div>
			<ul id="demo-header-color" class="demo-color-list">
				<li><span class="demo-cyan"></span></li>
				<li><span class="demo-light-blue"></span></li>
				<li><span class="demo-blue"></span></li>
				<li><span class="demo-indigo"></span></li>
				<li><span class="demo-deep-purple"></span></li>
				<li><span class="demo-purple"></span></li>
				<li><span class="demo-pink"></span></li>
				<li><span class="demo-red"></span></li>
				<li><span class="demo-teal"></span></li>
				<li><span class="demo-green"></span></li>
				<li><span class="demo-light-green"></span></li>
				<li><span class="demo-lime"></span></li>
				<li><span class="demo-yellow"></span></li>
				<li><span class="demo-amber"></span></li>
				<li><span class="demo-orange"></span></li>
				<li><span class="demo-deep-orange"></span></li>
				<li><span class="demo-midnightblue"></span></li>
				<li><span class="demo-bluegray"></span></li>
				<li><span class="demo-bluegraylight"></span></li>
				<li><span class="demo-black"></span></li>
				<li><span class="demo-gray"></span></li>
				<li><span class="demo-graylight"></span></li>
				<li><span class="demo-default"></span></li>
				<li><span class="demo-brown"></span></li>
			</ul>
		</div>
		<div class="demo-body">
			<div class="option-title">Sidebar</div>
			<ul id="demo-sidebar-color" class="demo-color-list">
				<li><span class="demo-cyan"></span></li>
				<li><span class="demo-light-blue"></span></li>
				<li><span class="demo-blue"></span></li>
				<li><span class="demo-indigo"></span></li>
				<li><span class="demo-deep-purple"></span></li>
				<li><span class="demo-purple"></span></li>
				<li><span class="demo-pink"></span></li>
				<li><span class="demo-red"></span></li>
				<li><span class="demo-teal"></span></li>
				<li><span class="demo-green"></span></li>
				<li><span class="demo-light-green"></span></li>
				<li><span class="demo-lime"></span></li>
				<li><span class="demo-yellow"></span></li>
				<li><span class="demo-amber"></span></li>
				<li><span class="demo-orange"></span></li>
				<li><span class="demo-deep-orange"></span></li>
				<li><span class="demo-midnightblue"></span></li>
				<li><span class="demo-bluegray"></span></li>
				<li><span class="demo-bluegraylight"></span></li>
				<li><span class="demo-black"></span></li>
				<li><span class="demo-gray"></span></li>
				<li><span class="demo-graylight"></span></li>
				<li><span class="demo-default"></span></li>
				<li><span class="demo-brown"></span></li>
			</ul>
		</div>

	</div>
	<!-- /Switcher -->
	<!-- Load site level scripts -->
	<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->
	@Scripts.Render("~/Content/js/jquery-1.10.2.min.js")<!-- Load jQuery -->
	@Scripts.Render("~/Content/js/jqueryui-1.10.3.min.js")	<!-- Load jQueryUI -->
	@Scripts.Render("~/Content/js/bootstrap.min.js")<!-- Load Bootstrap -->
	@Scripts.Render("~/Content/js/enquire.min.js")<!-- Load Enquire -->
	@Scripts.Render("~/Content/plugins/velocityjs/velocity.min.js")	<!-- Load Velocity for Animated Content -->
	@Scripts.Render("~/Content/plugins/velocityjs/velocity.ui.min.js")
	@Scripts.Render("~/Content/plugins/wijets/wijets.js")<!-- Wijet -->
	@Scripts.Render("~/Content/plugins/codeprettifier/prettify.js")<!-- Code Prettifier  -->
	@Scripts.Render("~/Content/plugins/bootstrap-switch/bootstrap-switch.js")<!-- Swith/Toggle Button -->
	@Scripts.Render("~/Content/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js")<!-- Bootstrap Tabdrop -->
	@Scripts.Render("~/Content/plugins/iCheck/icheck.min.js")<!-- iCheck -->
	@Scripts.Render("~/Content/plugins/nanoScroller/js/jquery.nanoscroller.min.js")<!-- nano scroller -->
	@Scripts.Render("~/Content/js/application.js")
	@Scripts.Render("~/Content/demo/demo.js")
	@Scripts.Render("~/Content/demo/demo-switcher.js")
	<!-- End loading site level scripts -->
	<!-- Load page level scripts-->
	<!-- End loading page level scripts-->
	@RenderSection("scripts", required: false)
</body>
</html>