@model PLE444.Models.Layout.SidebarList<PLE.Contract.DTOs.CommunityDto>

@if (Model?.Items == null || !Model.Items.Any())
{
    <li><a href="@Url.Action("List","Course")">Hiç Grubun Yok</a></li>
}
else
{
    foreach (var item in Model.Items)
    {
        <li title="@item.Name">
            <a href="@Url.Action("Index","Community", new { id = item.Id })">
                <span>@item.Name</span>
                
                @if (@item.OwnerId == ViewBag.CurrentUser)
                {
                    <i class="ti ti-key text-warning"></i>
                }
            </a>
        </li>
    }
}