@model PLE.Contract.DTOs.UserDto

@if (Model == null)
{
    <li>
        <a id="registerLink" href="@Url.Action("Register", "Account")">
            <i class="ti ti-shift-right mr-sm"></i>Kayıt
        </a>
    </li>
    <li>
        <a id="loginLink" href="@Url.Action("Login", "Account")">
            <i class="ti ti-user mr-sm"></i>Giriş
        </a>
    </li>
}
else
{<li class="dropdown toolbar-icon-bg">
	<a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
	<div class="dropdown-menu notifications arrow">
		<div class="topnav-dropdown-header">
			<span>Notifications</span>
		</div>
		<div class="scroll-pane">
			<ul class="media-list scroll-content">
				<li class="media notification-success">
					<a href="#">
						<div class="media-left">
							<span class="notification-icon"><i class="ti ti-check"></i></span>
						</div>
						<div class="media-body">
							<h4 class="notification-heading">Update 1.0.4 successfully pushed</h4>
							<span class="notification-time">8 mins ago</span>
						</div>
					</a>
				</li>
				<li class="media notification-info">
					<a href="#">
						<div class="media-left">
							<span class="notification-icon"><i class="ti ti-check"></i></span>
						</div>
						<div class="media-body">
							<h4 class="notification-heading">Update 1.0.3 successfully pushed</h4>
							<span class="notification-time">24 mins ago</span>
						</div>
					</a>
				</li>
				<li class="media notification-teal">
					<a href="#">
						<div class="media-left">
							<span class="notification-icon"><i class="ti ti-check"></i></span>
						</div>
						<div class="media-body">
							<h4 class="notification-heading">Update 1.0.2 successfully pushed</h4>
							<span class="notification-time">16 hours ago</span>
						</div>
					</a>
				</li>
				<li class="media notification-indigo">
					<a href="#">
						<div class="media-left">
							<span class="notification-icon"><i class="ti ti-check"></i></span>
						</div>
						<div class="media-body">
							<h4 class="notification-heading">Update 1.0.1 successfully pushed</h4>
							<span class="notification-time">2 days ago</span>
						</div>
					</a>
				</li>
				<li class="media notification-danger">
					<a href="#">
						<div class="media-left">
							<span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
						</div>
						<div class="media-body">
							<h4 class="notification-heading">Initial Release 1.0</h4>
							<span class="notification-time">4 days ago</span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="topnav-dropdown-footer">
			<a href="#">See all notifications</a>
		</div>
	</div>
</li>
    <li class="dropdown toolbar-icon-bg">
        <a href="@Url.Action("MailBox","User")" @*class="hasnotifications dropdown-toggle" data-toggle='dropdown'*@>
            <span class="icon-bg"><i class="ti ti-email"></i></span>@*<span class="badge badge-deeporange">2</span>*@
        </a>
        @*<div class="dropdown-menu notifications arrow">
            <div class="topnav-dropdown-header">
                <span>MESAJLAR</span>
            </div>
            <div class="scroll-pane">
                <ul class="media-list scroll-content">
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Yönetici</strong> <span class="text-gray">‒ Design should be ...</span></h4>
                                <span class="notification-time">2 dakika önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Gamze</strong> <span class="text-gray">‒ I will start with the ...</span></h4>
                                <span class="notification-time">40 dakika önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Levent</strong> <span class="text-gray">‒ Interior bits are ...</span></h4>
                                <span class="notification-time">6 saat önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Oğuz</strong> <span class="text-gray">‒ Are you even ...</span></h4>
                                <span class="notification-time">8 gün önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Hüseyin</strong> <span class="text-gray">‒ The message is ...</span></h4>
                                <span class="notification-time">16 saat önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Ali</strong> <span class="text-gray">‒ Expected the stuff ...</span></h4>
                                <span class="notification-time">2 gün önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-message">
                        <a href="#">
                            <div class="media-left">
                                <img class="img-circle avatar" src="~/Content/img/pp.jpg" alt="" />
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading"><strong>Diler</strong> <span class="text-gray">‒ The movie of this ...</span></h4>
                                <span class="notification-time">4 gün önce</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="@Url.Action("MailBox","User")">Tüm Mesajları Göster</a>
            </div>
        </div>*@
    </li>

    @*<li class="dropdown toolbar-icon-bg">
        <a href="#" class="hasnotifications dropdown-toggle" data-toggle='dropdown'><span class="icon-bg"><i class="ti ti-bell"></i></span><span class="badge badge-deeporange">2</span></a>
        <div class="dropdown-menu notifications arrow">
            <div class="topnav-dropdown-header">
                <span>Bildirimler</span>
            </div>
            <div class="scroll-pane">
                <ul class="media-list scroll-content">
                    <li class="media notification-success">
                        <a href="#">
                            <div class="media-left">
                                <span class="notification-icon"><i class="ti ti-check"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading">Update 1.0.4 successfully pushed</h4>
                                <span class="notification-time">8 dakika önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-info">
                        <a href="#">
                            <div class="media-left">
                                <span class="notification-icon"><i class="ti ti-check"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading">Update 1.0.3 successfully pushed</h4>
                                <span class="notification-time">24 dakika önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-teal">
                        <a href="#">
                            <div class="media-left">
                                <span class="notification-icon"><i class="ti ti-check"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading">Update 1.0.2 successfully pushed</h4>
                                <span class="notification-time">16 saat önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-indigo">
                        <a href="#">
                            <div class="media-left">
                                <span class="notification-icon"><i class="ti ti-check"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading">Update 1.0.1 successfully pushed</h4>
                                <span class="notification-time">2 gün önce</span>
                            </div>
                        </a>
                    </li>
                    <li class="media notification-danger">
                        <a href="#">
                            <div class="media-left">
                                <span class="notification-icon"><i class="ti ti-arrow-up"></i></span>
                            </div>
                            <div class="media-body">
                                <h4 class="notification-heading">Initial Release 1.0</h4>
                                <span class="notification-time">4 gün önce</span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topnav-dropdown-footer">
                <a href="#">Tüm bildirimleri göster</a>
            </div>
        </div>
    </li>*@

    <li class="dropdown toolbar-icon-bg">

        <a href="#" class="dropdown-toggle username" data-toggle="dropdown">
            <span class="m-sm" >@Model.FirstName @Model.LastName</span>
            

            <img class="img-circle" src="@Url.Content(Model.UserPhoto())" alt="Profil Resmi"/>
            
        </a>
        <ul class="dropdown-menu userinfo arrow">
            <li><a href="@Url.Action("Profil","User")"><i class="ti ti-user"></i><span>Profil</span>@*<span class="badge badge-info pull-right">80%</span>*@</a></li>
            @*<li><a href="#/"><i class="ti ti-panel"></i><span>Hesap</span></a></li>
            <li><a href="#/"><i class="ti ti-settings"></i><span>Ayarlar</span></a></li>*@
            <li class="divider"></li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="ti ti-shift-right"></i><span>Çıkış</span></a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                }
            </li>
        </ul>

    </li>
}
