@using PLE.Contract.Enums
@model PLE.Contract.DTOs.UserDto

@if (Model == null) {
	<li>
		<a id="registerLink" href="@Url.Action("Register", "Account")">
			<i class="ti ti-shift-right mr-sm"></i>Kayıt
		</a>
	</li>
	<li>
		<a id="loginLink" href="@Url.Action("Login", "Account")">
			<i class="ti ti-user mr-sm"></i>Giriş
		</a>
	</li>
} else {
	<li class="dropdown toolbar-icon-bg">
		<a href="@Url.Action("MailBox","User")" title="Mesajlar" @*class="hasnotifications dropdown-toggle" data-toggle='dropdown'*@>
			<span class="icon-bg"><i class="ti ti-email"></i></span>@*<span class="badge badge-deeporange">2</span>*@
		</a>
	</li>
	
	if (Model.Role == RoleType.Admin) {
		<li class="toolbar-icon-bg hidden-xs" id="admin-panel">
			<a href="@Url.Action("Index","Admin")" title="Yönetim Paneli"><span class="icon-bg"><i class="ti ti-heart"></i></span></a>
		</li>
	}

	<li class="dropdown toolbar-icon-bg">
		<a href="#" class="dropdown-toggle username" data-toggle="dropdown">
			<span class="m-sm">@Model.FirstName @Model.LastName</span>
			<img class="img-circle" src="@Url.Content(Model.UserPhoto())" alt="Profil Resmi" />
		</a>

		<ul class="dropdown-menu userinfo arrow">
			<li><a href="@Url.Action("Profil","User")"><i class="ti ti-user"></i><span>Profil</span></a></li>
			<li class="divider"></li>
			<li>
				<a href="javascript:document.getElementById('logoutForm').submit()">
					<i class="ti ti-shift-right"></i><span>Çıkış</span>
				</a>
				@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
					@Html.AntiForgeryToken()
				}
			</li>
		</ul>
	</li>
}