   
    @model List<PLE444.Models.Friendship>
    @{
        ViewBag.Title = "MyFriends";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
        <div class="panel-heading">
            <h2>
                <ul class="nav nav-tabs">
                    <li><a href="@Url.Action("Profil","User")"  >Profil</a></li>
                    <li class="active"><a href="@Url.Action("ListUsers", "User")"  >Arkadaşlar</a></li>
                    <li><a href="@Url.Action("Files", "User")"  >Dosyalar</a></li>
                </ul>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2>Arkadaş Listesi</h2>
                    <div class="panel-ctrls" data-actions-container="" data-action-collapse='{"target": ".panel-body"}'></div>
                    <div class="options">

                    </div>
                </div>
                <div class="panel-body">
                    @*<p>For basic styling—light padding and only horizontal dividers—add the base class <code>.table</code> to any <code>&lt;table&gt;</code>.</p>*@
                    <table class="table m-n">
                        <thead>
                        
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    @{ var h = new PLE444.Helpers.UserHelper();
                                       var pp = h.GetUserPhotoFromID(user.FriendID);
                                    }    
                                    
                                    <td> 
                                        @if (pp == "")
                                        {
                                            <img src="@Url.Content("~/Content/img/pp.jpg")" class="img-circle" style="height:60px;">
                                        }
                                        else
                                        {
                                            <img src="@Url.Content(pp)" class="img-circle" style="height:60px;">
                                        }                   
                                    </td>   
                                                       
                                    <td>@h.GetUserFullNameFromID(user.FriendID)<td>                                        
                                    
                                   <td>
                                       <a href="@Url.Action("RemoveFriends", "User", new { id=user.Id })" class="btn btn-danger-alt"> Çıkar </a>                              
                                       <a href="@Url.Action("SendMail", "User", new { id=user.FriendID })" class="btn btn-primary-alt"> Mesaj Gönder </a>
                                    </td>                                 
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

