@model PLE444.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated-content">

    <div class="container" id="login-form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Parola Sıfırlama</h2>
                        </div>
                        <div class="panel-body">

                            @Html.AntiForgeryToken()

                            <div class="row">                                
                                <p class="col-md-12 text-justify lead">
                                    Parolanızı sıfırlamak için e-posta adresinizi girin. Parola sıfırlama linki e-posta adresinize yollanacaktır.
                                </p>
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group mb-md">

                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-email"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Posta" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", placeholder = "E-Posta" })
                                </div>
                            </div>                                                    
                            
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix">
                                <input type="submit" class="btn btn-warning pull-right" value="Sıfırla" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}