@model PLE444.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Yeni Şifre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row animated-content">

    <div class="container" id="login-form">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2>Yeni Şifre</h2>
                        </div>
                        <div class="panel-body">
                            
                            @Html.HiddenFor(model => model.Code)

                            <div class="row">
                                <p class="col-md-12 lead">
                                    Yeni şifrenizi girin.
                                </p>
                            </div>

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group mb-md">

                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-email"></i>
                                        </span>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-Posta" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", placeholder = "E-Posta" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-md">

                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-key"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Şifre" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", placeholder = "Şifre" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-md">

                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="ti ti-key"></i>
                                        </span>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Şifre Tekrar" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", placeholder = "Şifre Tekrar" })
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <div class="clearfix">
                                <input type="submit" class="btn btn-warning pull-right" value="Sıfırla" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
