@model PLE444.ViewModels.CourseMaterials

@{
    ViewBag.Title = "Materyaller";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ Html.RenderAction("Navigation", "Course", new { id = Model.CourseId }); }

@if (Model != null)
{
    var fh = new PLE444.Helpers.FileHelper();
    var h = new PLE444.Helpers.DataManipulationHelper();

    foreach (var chapter in Model.ChapterList)
    {
        foreach (var material in chapter.Materials)
        {
            <div class="panel panel-default">

                <div class="panel-heading">
                    @if (@Model.CanEdit)
                    {

                        <a href="@Url.Action("Update", "Material", new { chapterId = chapter.Id, id = material.Id })">
                            <small><i class="fa fa-pencil-square-o ml-md mr-sm"></i>Düzenle</small>
                        </a>
                        <button data-material-id="@material.Id" data-chapter-id="@chapter.Id" class="btn-remove btn-link">
                            <small class="text-danger"><i class="fa fa-trash-o ml-md mr-sm"></i>Kaldır</small>
                        </button>
					}
                    <h2>@material.Title <em>(@chapter.Title)</em>
                    </h2>

                    <div class="pull-right">
                        @material.DateAdded, @h.GetDeltaDate(material.DateAdded)
                    </div>
                </div>

                <div class="panel-body">
                    @(new HtmlString(material.Description))
                </div>

                <ul style="list-style-type: none";>
                    @foreach (var doc in material.Documents)
                    {
                        <li>
                            <a href="@Url.Action("Download", "File", new { path = Url.Content(doc.FilePath), name = doc.Description })">
                                <img alt="Icon" src="@Url.Content(fh.GetFileIcon(doc.FilePath))" style="height: 40px;">
                                <span>@doc.Description</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        }
    }
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".btn-remove").on("click", function () {

                var object = $(this);

                bootbox.confirm({
                    title: "Onay",
                    message: "Materyali, bu bölümden, kaldırmak istediğinize emin misiniz?",
                    buttons: {
                        confirm: {
                            label: 'Evet, Kaldır',
                            className: 'btn-danger-alt'
                        },
                        cancel: {
                            label: 'Hayır',
                            className: 'btn-info-alt'
                        }
                    },
                    callback: function (result) {
                        if (result) {
                            $.ajax({
                            	//RemoveFromChapter(Guid? chapterId, Guid? materialId)
                            	url: "@Url.Action("RemoveFromChapter", "Material")" +
                                    "/?materialId=" + object.data('material-id') +
                                    "&chapterId=" + object.data('chapter-id'),
                                method: "POST",
                                dataType: 'json',
                                success: function(response) {
                                    object.parent("div").parent("div").slideUp();
                                },
                                error: function(response) {
                                    console.log(response);
                                }
                            });
                        }

                    }
                });
            });

            $(".ShowModal").on("click", function (e) {
            	e.preventDefault();
            	$.ajax({
            		//RemoveFromChapter(Guid? chapterId, Guid? materialId)
            		url: $(this).data("href"),
            		method: "GET",
            		dataType: 'json',
            		success: function (response) {
            			$(".modal-dialog").html(response.responseText);
            		},
            		error: function (response) {
            			$(".modal-dialog").html(response.responseText);
            		}
            	});

            });
        });
    </script>
}
