@model PLE444.Models.ApplicationUser
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-bluegray" data-widget='{"draggable": "false"}'>
    <div class="panel-heading">
        <h2>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Profile">Profil</a></li>
                <li><a href="@Url.Action("ListUsers", "User")">Arkadaşlar</a></li>
                <li><a href="#Files">Dosyalar</a></li>
                <li><a href="#Events">Etkinlikler</a></li>
                <li><a href="#Communities">Topluluklar</a></li>
            </ul>
        </h2>
    </div>
</div>
@using (Html.BeginForm("ProfilEdit", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div data-widget-group="group1">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-profile">
                <div class="panel-body">
                    @if (@Model.ProfilePicture == "")
                    {
                        <img src="~/Content/img/pp.jpg" class="img-circle">
                    }
                    else
                    {
                        <img src="@Model.ProfilePicture" class="img-circle">
                    }                    <div class="form-group">
                       
                        
                         <input name="uploadFile" type="file" id="filer_input" />
                       
                    </div>
                    <div class="name"></div>
                    <div class="info">Öğrenci</div>
                    <ul class="list-inline text-center">
                        <li><a href="#" class="profile-facebook-icon"><i class="ti ti-facebook"></i></a></li>
                        <li><a href="#" class="profile-twitter-icon"><i class="ti ti-twitter"></i></a></li>
                        <li><a href="#" class="profile-dribbble-icon"><i class="ti ti-dribbble"></i></a></li>
                    </ul>
                </div>
            </div><!-- panel -->

        </div><!-- col-sm-3 -->


        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Hakkında</h2>
                    <div class="pull-right">
                        <a><i class="fa fa-pencil"></i></a>
                       
                    </div>

                </div>
                <div class="panel-body">
                    <div class="about-area">
                        <h4>Vizyon</h4>
                       @Html.TextAreaFor(model => model.Vision, new { @class = "form-control" })
                        <h4>Misyon</h4>
                        @Html.TextAreaFor(model => model.Mission, new { @class = "form-control" })
                    </div>
                    <div class="about-area">
                        <h4>İletişim bilgileri</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>

                                    <tr>
                                        <th>Mail</th>
                                        <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <th>Telefon</th>
                                        <td>@Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <th>Pozisyon</th>
                                        <td>Designer</td>
                                    </tr>

                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="about-area">
                        <h4>Kişisel bilgiler</h4>
                        <div class="table-responsive">
                            <table class="table about-table">
                                <tbody>
                                    <tr>
                                        <th>İsim</th>
                                        <td>@Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</td>
                                    </tr>
                                    <tr>
                                        <th>Doğum Tarihi</th>
                                        <td>19 Mart 1919</td>
                                    </tr>

                                    <tr>
                                        <th>Cinsiyet</th>
                                        <td>@Html.DropDownList("Gender", EnumHelper.GetSelectList(typeof(PLE444.Models.GenderType)), new { @class = "form-control" })</td>
                                    </tr>                                      
                                </tbody>
                           </table>
                            <input type="submit" class="btn btn-default" value="Kaydet" />
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- col-sm-8 -->
    </div>
</div>
}




